<h1> 글쓰는 페이지</h1>

<form action = "/create" method = "post">
    제목 : <input type="text" name="inputTitle" placeholder="제목"> <br><br>
    이름 : <input type="text" name="inputEditor" placeholder="이름을 적어주세요."> <br><br>
    내용 : <input type="text" name="inputContent" placeholder="뭐가 궁금해요?">
    <input type="submit" value="submit">
</form>
